
  
  .sidebar {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 15rem;
    background-color: rgb(243, 244, 246);
    color: #333;

    border-radius: 5px;
    margin-top: 5rem;

  }
  
  .sidebar h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .sidebar form {
    margin-top: 1rem;
  }
  
  .sidebar label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
  }
  
  .sidebar input[type="text"] {
    width: 90%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1rem;
  }
  
  .sidebar button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .tags {
    margin-top: 1rem;
  }
  
  .tag {
    display: inline-block;
    background-color: #a2e6e3;
    color: #333;
    border-radius: 20px;
    padding: 0.3rem 0.7rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
  }
  
  .remove-btn {
    margin-left: 0.5rem;
    cursor: pointer;
    color: #7f7c7c;
    font-size: 0.9rem;
  }

  //like button

  .like__btn {
    border: none;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 0.4rem;
    max-width: 200px;
    transition: all ease 0.3s;
    display: flex;
    position: relative;
    top: 20px;

    &:hover {
        background-color: rgba(#f71900, 0.8);
    }

    &:disabled {
        background-color: #d4cfcf;
        cursor: pointer;
    }  
  }

  .like__icon {
      font-size: 1.2rem;
      margin-right: 0.3rem;
  }

  .like__number {
      font-size: 0.8rem;
      margin-left: 2px;
  }

  .container12 {
    display: flex;
    margin-top: 15px;
   
    //margin-left: 450px;
    //margin-right: 5px;
  }


  //flag button

  .flag__btn {
    border: none;
    background-color: #b0b3b4;
    color: white;
    cursor: pointer;
    padding: 0.8rem;
    border-radius: 0.4rem;
    max-width: 200px;
    transition: all ease 0.3s;
    display: flex;
    height: 45px;
    width: 40px;

    &:hover {
        background-color: rgba(#f10707f5, 0.8);
    }

    &:disabled {
        background-color: #cfcfd4;
        cursor: pointer;
    }  
  }

  .flag__icon {
      font-size: 1.2rem;
      margin-right: 0.3rem;
      
  }

  .container1234 {
    display: flex;
    justify-content: right;
    position: relative;
    margin: 15px;

  }

  #close-btn, #flag-btn{
    border: none;
    background-color: #b0b3b4;
    color: white;
    cursor: pointer;
    border-radius: 0.4rem;
    max-width: 5.5rem;
    transition: all ease 0.3s;
    display: flex;


    &:hover {
        background-color: rgba(#f10707f5, 0.8);
    }

    &:disabled {
        background-color: #cfcfd4;
        cursor: pointer;
    }  
  }

